@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

.modo_dark{
  background-color: #000;
}
.modo_light{
  background-color: #fff;
}
.header{
  width: 100%;
  height: 10vh;
  padding: 0px 20px;
}

.header div{
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header div .img_logo{
  width: 100px;
  height: 100px;
}

.modo_dark .header div .img_logo{
  filter: invert(1) brightness(2);
}

.header div .btn_mode{
  padding: 10px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 25px;
  border: solid 0.5px #B2987D;
}
.modo_light .header div .btn_mode{
  background-color: #FFF;
}

.modo_dark .header div .btn_mode{
  color:  #FFF;
  background-color: #000;
}

.secao_capa{
  width: 100%;
  height: 30vh;
  background-image: url(/banner.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.secao_text{
  width: 100%;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container_textos{
  width: 60%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

@media (max-width:768px){
    .container_textos{
      width: 80%;
    }    
}

.container_textos h1{
  font-size: 40px;
}

.modo_dark .container_textos h1, 
.modo_dark .container_textos h2,
.modo_dark .container_textos .pg{
  color: #FFF;
}

.container_textos h2{
  font-size: 16px;
  font-weight: 600;
}


.container_textos .pg{
  font-size: 18px;
}

.container_textos .assinatura{
  margin-top: 10px;
  color: #B2987D;
  font-weight: 600;
  font-size: 50px;
  font-family: "Great Vibes", cursive;
}

@media (max-width: 428px){
  .container_textos h1{
    padding-top: 30px;
    font-size: 35px;
  }
  .container_textos h2{
    font-size: 14px;
    
  }
  .container_textos .pg{
    font-size: 16px;
  }

  .container_textos .assinatura{
    font-size: 40px;
  }
}

@media(max-width: 375px){
  .container_textos{
    width: 90%;
  }    
}



